
@font-face {
  font-family: 'Vrinda';
  src: url('Vrinda.eot?#iefix') format('embedded-opentype'),  url('Vrinda.woff') format('woff'), url('Vrinda.ttf')  format('truetype'), url('Vrinda.svg#Vrinda') format('svg');
  font-weight: normal;
  font-style: normal;
}
